.title{
    color: white;
    font-size: 34px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titlebox{
    background-color: #FF0000;
}

.inputbox{
    background-color: #FF0000;
    width: 670px;
    margin: auto;
    height: 310px;
    position: relative;
    top: 36px;
}

.button{
    background-color: white;
    color: black;
    border: none;
    font-size: 30px;
    width: 100px;
    height: 85px;
    position: relative;
    top: 11px;
    left: 530px;
}

.inputfield{
    background-color: #212121;
    color: white;
    border: none;
    width: 513px;
    height: 247px;
    position: absolute;
resize: none;
    top: 11px;
    left: 11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.cleartext{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 259px;
    left: 11px;
    font-size: 30px;
}

.pastetext{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 259px;
    left: 180px;
    font-size: 30px;
}


/*============================================================================*/
/* For Mobile Portrait View */
/*============================================================================*/
@media screen and (max-device-width: 1080px)
	and (orientation: portrait) {
	.title{
    color: white;
    font-size: 34px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titlebox{
    background-color: #FF0000;
}

.button{
    background-color: white;
    color: black;
    border: none;
    font-size: 30px;
    width: 136px;
    height: 70px;
    position: relative;
    top: 265px;
    left: 213px;
}

.inputbox{
    background-color: #FF0000;
    width: 360px;
    margin: auto;
    height: 345px;
    position: relative;
    top: 36px;
}

.inputfield{
    background-color: #212121;
    color: white;
    border: none;
    width: 338px;
    height: 247px;
    position: absolute;
resize: none;
    top: 11px;
    left: 11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.cleartext{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    background-color: #494949;
    padding: 3 8px;
    top: 265px;
    left: 10px;
    font-size: 26px;
}

.pastetext{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 308px;
    left: 10;
    font-size: 26px;
}
}


/*============================================================================*/
/* For Mobile Landscape View */
/*============================================================================*/
@media screen and (max-device-width: 2408px)
	and (orientation: landscape) {
	.title{
    color: white;
    font-size: 34px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titlebox{
    background-color: #FF0000;
}

.inputbox{
    background-color: #FF0000;
    width: 670px;
    margin: auto;
    height: 310px;
    position: relative;
    top: 36px;
}

.button{
    background-color: white;
    color: black;
    border: none;
    font-size: 30px;
    width: 133px;
    height: 85px;
    position: relative;
    top: 11px;
    left: 530px;
}

.inputfield{
    background-color: #212121;
    color: white;
    border: none;
    width: 513px;
    height: 247px;
    position: absolute;
resize: none;
    top: 11px;
    left: 11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.cleartext{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 259px;
    left: 11px;
    font-size: 30px;
}

.pastetext{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 259px;
    left: 180;
    font-size: 30px;
}
}
